* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 30px;
}
h1 {
  margin-top: 50px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.2px;
}
.p1 {
  margin-top: 55px;
  color: #45338d;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
}
.p2 {
  margin-top: 40px;
  background: rgba(204, 60, 60, 0.32);
  color: #e2296c;
  padding: 15px 15px 20px 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
}
.img-1 {
  margin-top: 40px;
  width: 100%;
}
.img-2 {
  margin-top: 45px;
  border: 2px solid #36b561;
  padding: 15px;
  width: 50%;
}
.mix {
  position: relative;
}

.imgtext {
  position: absolute;
  top: 70px;
  left: 45px;
  bottom: 90px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.16;
}
